body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}
.btn{
    background-color:pink;
    border-radius: 5px;
    color: black;
    padding:20px 40px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.btn span {
    position: relative;
    z-index: 1;
  }
.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width:0;
    height:0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.8s, height 0.8s;
}
.btn:hover::before {
    width: 300px;
    height: 300px;
  }
  
